{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block body %}


    <div class="container my-3">
        <h1>All articles from article s table : </h1>

    {% for article in articles %}
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">Category : {{ article.category.name }}</div>
            <div class="card-body">
                <h4 class="card-title">{{ loop.index }} / {{ article.title }}</h4>
                <p class="card-text">{{ article.content }}</p>
            </div>
        </div>
    {% else %}
        Aucun article trouvé.
    {% endfor %}
    </div>
    <a href="{{ path('app_index') }}">
        Back to homepage.
    </a>
{% endblock %}
