{# templates/blog/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <div class="container my-3">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">{{ article.title }}</div>
            <div class="card-body">
                <h4 class="card-title">id: {{ category.id }}] / {{ category.name }}</h4>
                <p class="card-text">{{ article.content }}</p>
            </div>
        </div>
    </div>
    <a href="{{ path('app_index') }}">
        Back to homepage.
    </a>

{% endblock %}
