    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand " href="{{ path('blog_index') }}">
            <img class="logo" src="https://cdn.iconscout.com/icon/free/png-256/symfony-1-458200.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_index') }}">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('blog_index') }}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('blog_show', { 'slug': "javascript-vs-php" }) }}">Slug test</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Catégories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('category_admin_index') }}">Liste des catégories</a>
                        <a class="dropdown-item" href="{{ path('category_admin_add') }}">Ajout d'une catégorie</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Articles
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('article_index') }}">Liste des articles</a>
                        <a class="dropdown-item" href="{{ path('article_new') }}">Ajout d'un article</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Tags
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('tag_index') }}">Liste des tags</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
