<div class="container-fluid form-group">
    {{ form_start(form) }}
{#        {{ form_widget(form) }}#}
    <div class="m-2">
        <div class="my-4">

            <div class="row">
                <div class="col-md-4">
                    {{ form_label(form.title) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    {{ form_widget(form.title) }}
                    <div class="alert alert-danger alert-dismissible fade show p-1 my-1" role="alert">
                        {{ form_errors(form.title) }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-4">
            <div class="row">
                <div class="col-md-4">
                    {{ form_label(form.content) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form_widget(form.content) }}
                    <div class="alert alert-danger alert-dismissible fade show p-1 my-1" role="alert">
                        {{ form_errors(form.content) }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <div class="my-4">
            <div class="row">
                <div class="col-md-2 my-auto">
                    {{ form_label(form.category) }}
                </div>
                <div class="col-md-6">
                    {{ form_widget(form.category) }}
                </div>
            </div>
        </div>
        <div class="my-4">
            <div class="row">
                <div class="col-md-2 my-auto">
                    {{ form_label(form.tags) }}
                </div>
                <div class="col-md-6">
{#                    {{ form_widget(form.tags) }}#}
                    {% for tag in form.tags %}
                        <label class="m-2">
                            {{ form_errors(tag) }}
                            {{ form_widget(tag) }}
                            <span  class="badge badge-pill badge-warning">#{{ tag.vars.label }}</span>
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>
            <div class="mt-4">
                <div class="row">
                    <button class="btn btn-info w-50 mx-auto">{{ button_label|default('Ajouter') }}</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
