{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1 class="text-center m-3">Liste des articles</h1>
    <div class="text-center">
    <a class="btn btn-success w-50 m-1 " href="{{ path('article_new') }}">+ Ajouter un article</a>
    </div>
<div class="container-fluid mx-2">
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Catégorie</th>
                <th>Titre</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.category.name }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>
                    <a class="btn btn-primary btn-sm w-100 m-1" href="{{ path('article_show', {'id': article.id}) }}">Voir ...</a>
                    <a class="btn btn-info btn-sm w-100 m-1" href="{{ path('article_edit', {'id': article.id}) }}">Modifier </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
