{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1 class="text-center m-3">Liste des articles</h1>
    <div class="text-center">
    <a class="btn btn-success w-50 m-1 " href="{{ path('article_new') }}">+ Ajouter un article</a>
    </div>
<div class="container-fluid mx-2">
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Catégorie</th>
                <th>Titre</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Auteur</th>
                <th>Favoris</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.category.name }}</td>
                <td>{% for tag in article.tags %}
                        <a href="{{ path('tag_show', {'name': tag.name}) }}" class="badge badge-pill badge-warning">#{{ tag.name }}</a>
                    {% endfor %}
                </td>
                <td>{{ article.title }}</td>

                <td>{{ article.content }}</td>
                <td>
                {% if article.author %}
                    {{ article.author.email }}
                {% else %}
                    Anonyme
                {% endif %}
                </td>
                <td><a onclick="addToFavorite('{{ path('article_favorite', {'id': article.id}) }}', {{ article.id }})">
                    {% if  app.user.isFavorite(article) %}
                        <i id="favorite{{ article.id}}" class="fas fa-heart"></i>
                    {% else %}
                        <i id="favorite{{article.id}}" class="far fa-heart"></i>
                    {% endif %}
                        </a></td>
                <td>
                    <a class="btn btn-primary btn-sm w-100 m-1" href="{{ path('article_show', {'id': article.id}) }}">Voir ...</a>
                    {% if is_granted('ROLE_AUTHOR') %}
                        <a class="btn btn-info btn-sm w-100 m-1" href="{{ path('article_edit', {'id': article.id}) }}">Modifier </a>
                    {%endif%}
{#                    <a class="btn btn-info btn-sm w-100 m-1" href="{{ path('article_edit', {'id': article.id}) }}">Modifier </a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <script>
        function addToFavorite(url, articleId) {
            fetch(url)
                .then(response => response.json())
                .then(json => {
                    let favoriteElt = document.getElementById('favorite' + articleId);
                    if (json.isFavorite) {
                        favoriteElt.classList.remove('far');
                        favoriteElt.classList.add('fas');
                    }
                    else {
                        favoriteElt.classList.remove('fas');
                        favoriteElt.classList.add('far');
                    }
                });
        }
    </script>
{% endblock %}
