{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1 class="text-center m-3">Article</h1>
    <div class="container  p-0">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-10">
                {{ article.category.name }}
            </div>
            <div class="col-md-1 ml-auto text-center">
                <a onclick="addToFavorite()">{{ app.user.isFavorite(article) ? '<i id="favorite" class="fas fa-heart"></i>' : '<i id="favorite" class="far fa-heart"></i>' }}</a>
            </div>
        </div>
            </div>
            <div class="card-body">

                        <h4 class="card-title">{{ article.title }}</h4>



                <p class="card-text">{{ article.content }}</p>

            </div>
            <div class="card-footer">
                {% if article.author %}
                    {{ article.author.email }}
                {% else %}
                    Anonyme
                {% endif %}
                {% for tag in article.tags %}
                    <a href="{{ path('tag_show', {'name': tag.name}) }}" class="badge badge-pill badge-warning">#{{ tag.name }}</a>
                {% else %}
                    <span class="badge badge-pill badge-danger">No tags</span>
                {% endfor %}
            </div>
        </div>


        <div class="row my-2 justify-content-center">
            <div class="col-md-4 text-center">
                <a class="btn btn-info w-50" href="{{ path('article_edit', {'id': article.id}) }}">Modifier</a>
            </div>
            <div class="col-md-4 text-center">
                {{ include('article/_delete_form.html.twig') }}
            </div>
            <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
        </div>

        <div class="row my-4 justify-content-start">
            <a class="btn btn-success w-20" href="{{ path('article_index') }}">Retour à la liste des articles</a>
        </div>

    </div>

    <script>
        function addToFavorite() {
            fetch('{{ path('article_favorite', {'id': article.id}) }}')
                .then(response => response.json())
                .then(json => {
                    let favoriteElt = document.getElementById('favorite');
                    if (json.isFavorite) {
                        favoriteElt.classList.remove('far');
                        favoriteElt.classList.add('fas');
                    }
                    else {
                        favoriteElt.classList.remove('fas');
                        favoriteElt.classList.add('far');
                    }
                });
        }
    </script>

{% endblock %}
